# project files
docker-commands.txt
map.txt
tech_stack.txt
virtual_env.txt
.env
dw

# data
# Root'taki devasa ham verileri engellemeye devam et
/data/

# Dashboard'un içindeki küçük CSV'lere izin ver (Baştaki ! işareti "istisna" demektir)
!dashboard/data/
*.csv

# notes & docs
notes/
docs/

# python cache
**pycache**/
*.pyc

# logs
logs/
*.log

# temporary (will be reorganized later)
silver_layer_transform.sql
img/

