# project files
docker-commands.txt
map.txt
tech_stack.txt
virtual_env.txt
.env
dw

# data
data/
*.csv

# notes & docs
notes/
docs/

# python cache
**pycache**/
*.pyc

# temporary (will be reorganized later)
silver_layer_transform.sql
img/
